<h1>Apsum Norem</h1>

<p>
    Kecha kelgumdir debon ul sarvi gulro' kelmadi,
    Ko'zlarimga kecha tong otquncha uyqu kelmadi.
    Lahza-lahza chiqtimu chektim yo'lida intizor,
    Keldi jon og'zimg'avu ul sho'xi badxo' kelmadi.
    Orazidek oydin erkanda gar etti ehtiyot,
    Ro'zgorimdek ham o'lg'onda qorong'u kelmadi.
    Ul parivash hajridinkim yig'ladim devonavor,
    Kimsa bormukim anga ko'rganda kulgu kelmadi.
    Ko'zlarindin necha suv kelgay deb o'lturmang meni,
    Kim bori qon erdi kelgan bu kecha suv kelmadi.
    Tolibi sodiq topilmas, yo'qsakim qo'ydi qadam,
    Yo'lg'akim avval qadam ma'shuqa o'tro' kelmadi.
    Ey Navoiy, boda birla xurram et ko'nglung uyin,
    Ne uchunkim boda kelgan uyga qayg'u kelmadi.
</p>
